<h1>Contatos</h1>

<table id="contacts" class="display">
  <thead>
  <tr>
    <th>site</th>
    <th>nome</th>
    <th>sexo</th>
    <th>email</th>
    <th>telefone</th>
    <th>contatar</th>
    <th>assunto</th>
    <th>created_at</th>
    <!--<th>cep</th>
    <th>origem</th>
    <th>mensagem</th>
    <th></th>-->
  </tr>
  </thead>
  <tbody>
  <% @contacts.each do |contact| %>
      <tr>
        <% @date = contact["created_at"].split("T").first  %>
        <% @time = contact["created_at"].split("T").last.split("+").first  %>
        <td><%= contact["site"] %></td>
        <td><%= link_to contact["nome"], "contact/#{contact["_id"]}" %></td>
        <td><%= contact["sexo"] %></td>
        <td><%= contact["email"] %></td>
        <td><%= contact["telefone"] %></td>
        <td><%= contact["contatar"] %></td>
        <td><%= contact["assunto"] %></td>
        <td><%= @date%> <%= @time%></td>
        <!-- <td><%#= contact["cep"] %></td>
        <td><%#= contact["origem"] %></td>
        <td><%#= contact["mensagem"] %></td>
       <td><%#= link_to "show", "contact/#{contact["_id"]}" %></td>-->
      </tr>
  <% end %>
  </tbody>
</table>

