<h1>Detalhes de Contato</h1>

<table class="col-md-12 table-bordered table-striped table-condensed cf">

  <tbody>
  <tr>
    <td>Site</td>
    <td><%= @contact["site"] %></td>
  </tr>
  <tr>
    <td>Nome</td>
    <td><%= @contact["nome"] %></td>
  </tr>
  <tr>

  <tr>
    <td>Email</td>
    <td><%= @contact["email"] %></td>
  </tr>

  <td>Sexo</td>
    <td><%= @contact["sexo"] %></td>
  </tr>
  <tr>
    <td>Telefone</td>
    <td><%= @contact["telefone"] %></td>
  </tr>
  <tr>
    <td>Contatar</td>
    <td><%= @contact["contatar"] %></td>
  </tr>
  <tr>
    <td>Assunto</td>
    <td><%= @contact["assunto"] %></td>
  </tr>
  <tr>
    <td>Cep</td>
    <td><%= @contact["cep"] %></td>
  </tr>
  <tr>
    <td>Origem</td>
    <td><%= @contact["origem"] %></td>
  </tr>
  <tr>
    <td>Mensagem</td>
    <td><%= @contact["mensagem"] %></td>
  </tr>
<tr>
    <td>criado em</td>
    <td><%= @contact["created_at"] %></td>
  </tr>

  </tbody>
</table>
<br/>
<div>
  <%= link_to_function "De volta","window.history.back()", class: "btn btn-info" %>
</div>
