<div class="container" style="margin-top:30px">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title"><strong>Login</strong></h3></div>
      <div class="panel-body">
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <div class="form-group">
            <label for="exampleInputEmail1">E-mail</label>
            <%= f.email_field :email, :autofocus => true %>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Senha</label>
            <%= f.password_field :password %>
          </div>
          <button type="submit" class="btn btn-sm btn-default">Entrar</button>
            <% end %>
      </div>
    </div>
  </div>
</div>
