<!DOCTYPE html>
<html>
<head>
  <title>Receiver</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="unloadOverlay" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 10; display:none; background-color: #000000; opacity:.5"> <br / ><span style="margin: 43%;color: #ffffff;font-size: 22px">Por favor, aguarde!&nbsp;&nbsp;<%= image_tag "/assets/loader.gif" %></span> </div>
<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <span class="brand" style="color: #ffffff;font-size: 26px">Contratos Administrador</span>


        <ul class="nav pull-right">
          <% if user_signed_in? %>
          <li><%= link_to "Sair", destroy_user_session_path, :method => :delete  %></li>
             <% end %>
        </ul>
      </div>
    <!--/.container-fluid -->
  </div>
  <!--/.navbar-inner -->
</div>
<!--/.navbar -->
<div  class="container">
<% if flash[:notice] %>
<div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <%= notice %>
</div>
<% elsif flash[:alert] %>
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <%= alert %>
</div>
<% end %>

<%= yield %>
</div>
</body>
</html>
<script>
    $(window).on('beforeunload', function(){
        $("#unloadOverlay").fadeIn(1000);
    });
</script>
